:root {
  /* Base colors */
  --background: hsl(220, 85%, 6%);
  --text-disabled: hsl(220, 10%, 50%);
  --text-enabled: hsl(220, 12%, 80%);
  --text-highlight: hsl(220, 12%, 90%);

  /* Table row alternation */
  --table-row-alt-1: hsl(220, 38%, 18%);
  --table-row-alt-2: hsl(220, 45%, 12%);

  /* Toggles */
  --toggle-off: hsla(0, 100%, 20%, 0.5);
  --toggle-on: hsla(120, 100%, 20%, 0.5);
  --toggle-accent: hsla(210, 85%, 55%, 0.5);

  /* Accent colors */
  --accent-medium: hsl(220, 45%, 12%);
  --accent-light: hsl(210, 85%, 55%);

  /* NAV */
  --top-bar-height: 3.5rem;
  --nav-height: calc(4rem + env(safe-area-inset-bottom, 0.5rem));
  --nav-button: hsla(220, 12%, 80%, 0.3);
  --nav-button-active: hsla(220, 12%, 80%, 0.9);

  /* Menu */
  --menu-width: 70vw;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: var(--accent-medium);
  color: var(--text-enabled);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

.app {
  background: var(--background);
}

.tab-content {
  padding-top: var(--top-bar-height);
  padding-bottom: var(--nav-height);
  min-height: calc(100vh - var(--top-bar-height) - var(--nav-height));
  display: none;
}

.tab-content.active {
  display: block;
}

.scroll-container {
  padding: 1rem;
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.landing-options {
  position: absolute;
  left: 0;
  bottom: 3rem;
  width: var(--menu-width);
  background-color: var(--table-row-alt-1);
  padding-top: 0.5rem;
  border-bottom: 3px solid var(--table-row-alt-2);
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(30px);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1), transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0.15s;
}

.landing-options.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1), transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s;
}