.mission-list {
  text-transform: capitalize;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.mission-section {
  background: none;
  padding: 0;
}

.mission-entry {
  display: flex;
  align-items: center;
  height: 3.5rem;
  background: var(--table-row-alt-1);
  color: var(--text-enabled);
}

.mission-entry.alt {
  background: var(--table-row-alt-2);
}

.mission-toggle {
  width: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--toggle-off);
  color: var(--text-enabled);
}

.mission-toggle.semi {
  background: var(--toggle-semi);
}

.mission-toggle.active {
  background: var(--toggle-on);
}

.mission-toggle.new {
  background: var(--toggle-accent);
}

.mission-label {
  flex: 1;
  padding-left: 0.625rem;
}

.mission-count-wrapper {
  display: flex;
  height: 100%;
}

.mission-count {
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}

.mission-count.new {
  color: var(--accent-light);
}