.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  display: flex;
  background: var(--accent-medium);
  border-top: 1px solid var(--background);
}

.nav-button {
  font-family: Roboto, sans-serif;
  background: none;
  border: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 100%;
  opacity: 0.3;
  color: var(--text-enabled);
  padding-bottom: env(safe-area-inset-bottom, 8px);
}

.edit-button {
  position: relative;
  top: -1.25rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.points-text {
  font-size: 0.9rem;
  font-family: Roboto, sans-serif;
}

nav button:active {
  background-color: transparent;
}

.nav-button .material-symbols-outlined {
  font-size: 1.5rem;
}

.nav-button.active {
  opacity: 0.9;
}