/* .perk-points-display {
  text-align: center;
  font-weight: bold;
  margin: 0.625rem 0;
} */

.perk-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.perk-section {
  width: 100%;
}

.perk-entry {
  display: flex;
  align-items: center;
  height: 3.5rem;
  background: var(--table-row-alt-1);
  color: var(--text-enabled);
}

.perk-entry.alt {
  background: var(--table-row-alt-2);
}

.perk-icon {
  width: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-disabled);
  background: var(--table-row-alt-2);
}

.perk-icon.active,
.perk-label.active{
  color: var(--text-enabled);
}

.perk-icon.partial,
.perk-label.partial {
  color: var(--text-partial);
}

.perk-icon.new,
.perk-label.new {
  color: var(--accent-light);
}

.perk-label {
  flex: 1;
  color: var(--text-disabled);
  padding-left: 0.625rem;
}

.perk-multiplier {
  font-size: 0.8em;
  vertical-align: super;
  margin-left: 2px;
}

.perk-dots {
  display: flex;
  gap: 0.25rem;
  padding-right: 1rem;
}

.perk-dot {
  width: 10px;
  height: 10px;
  background: var(--text-disabled);
  border-radius: 50%;
}

.perk-dot.partial{
  background: var(--text-partial);
}

.perk-dot.active {
  background: var(--text-enabled);
}

.perk-dot.new {
  background: var(--accent-light);
}  