.side-panel {
  position: fixed;
  top: var(--top-bar-height);
  right: 0;
  background-color: var(--table-row-alt-1);
  transform: translateX(105%);
  transition: transform 0.25s ease;
  display: flex;
  flex-direction: column;
  z-index: 200;
}

.side-panel.visible {
  transform: translateX(0);
}

.side-items {
  padding: 0.5rem 0;
}

.side-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-item > * {
  display: flex;
  min-height: 3rem;
  align-items: center;
}

.side-item .material-symbols-outlined {
  width: 3.5rem;
  justify-content: center;
}

.side-item .label {
  padding-left: 1rem;
  min-width: 7rem;
  flex-grow: 1;
}

.side-backdrop {
  position: fixed;
  top: var(--top-bar-height);
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 150;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.side-backdrop.visible {
  opacity: 1;
  pointer-events: auto;
}